{% extends "base/base.html" %} {% block title %} Explore {% endblock %} {% block
content%}

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<h1>explore page</h1>

<div class="form-floating">
  <button class="btn btn-primary" id="start">Start Recording</button>
  <button class="btn btn-danger" id="stop">Stop Recording</button>
</div>
<br />

<form action="/explore/result" method="post" enctype="multipart/form-data">
  <p class="fs-1" id="speech_shown"></p>
  <div class="mb-3">
    <label for="text-data" class="form-label">Enter message here!</label>
    <textarea
      style="resize: none"
      class="form-control"
      name="text_data"
      rows="5"
    ></textarea>
  </div>
  <textarea
    hidden
    class="form-control"
    name="speech_data"
    id="speech_data"
    rows="5"
  ></textarea>
  <div id="mb-3">
    <label for="wav_data" class="form-label">Upload file here!</label>
    <br />
    <input type="file" name="audio_data" />
  </div>
  <br />
  <button type="submit" id="submitButton" class="btn btn-primary">
    Submit
  </button>
</form>

<script>
  // record audio
  const startButton = document.getElementById("start");
  const stopButton = document.getElementById("stop");
  const speech_result = document.getElementById("speech_shown");

  const recognition = new webkitSpeechRecognition();
  recognition.lang = window.navigator.language;
  recognition.interimResults = true;

  startButton.addEventListener("click", () => {
    recognition.start();
  });
  stopButton.addEventListener("click", () => {
    recognition.stop();
  });

  recognition.addEventListener("result", (event) => {
    const result = event.results[event.results.length - 1][0].transcript;
    speech_result.textContent = result;
  });

  // send data to python
  var submitButton = document.getElementById("submitButton");
  submitButton.addEventListener("click", sendData);
  function sendData() {
    const speech_data = document.getElementById("speech_data");
    speech_data.innerHTML = speech_result.textContent;
  }
</script>

{% endblock %}
