{% extends "base/base.html" %} {% block title %} Profile {% endblock %} {% block
content%}

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="{{url_for ('static', filename='/scripts/profile.js')}}"></script>
</head>
<h1>this is the profile page</h1>

<div class="container" id="firstName">{{user.first_name}}</div>

<button type="button" class="btn btn-primary" onclick="generateImage()">
  Generate Image
</button>

<img src="" id="img" />

<script src="{{url_for ('static',
filename='/scripts/profile.js')}}"></script>

{% endblock %}
